---
layout: default
---


<div class="header main">
  <div id="latest-news">
    <h4>Latest News</h4>
    {% for post in site.posts limit:3 %}
    <li>
      <span>{{ post.date | date_to_string }}</span> &raquo;
      <a href="{{ post.url }}">
	{{ post.title }}</a>
    </li>
    {% endfor %}
  </div>

  <h1 class="smaller">
    The Slash Project
  </h1>
  <small>Enterprise Testing that Doesn't Suck</small>

</div>

<div class="container">
  <h1>Who We Are</h1>
  <p>
    We are software developers having dedicated a great deal of time and effort to writing code that tests, stresses and verifies complex software projects, mostly ones involving hardware.</p>
  <p>
    Testing and integrating with such projects requires sophisticated tools and infrastructure in order to get testing done right.</p>
  <p>
    We believe in building robust tools that make such undertakings possible. Tools that make testing complex products suck less.
  </p>
</div>

<div class="container">
  <h1>Our Projects</h1>
  {% for proj in site.data.projects %}
  <div class="container-fluid">
    <div class="col-sm-2"><img src="img/{{proj.name}}.svg" style="height: 5em; margin-top: 1.5em"></div>
    <div class="col-sm-4">
      <h3>{{proj.name|capitalize}}</h3>
      <p>{{proj.slug}}</p>
      <a href="{%if proj.link %}{{proj.link}}{% else %}/{{proj.name}}/{% endif %}">Read more...</a>
    </div>
  </div>
  {% endfor %}
</div>

