body {
    font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}

.section {
    margin-top: 5em;
}


.overview {
    padding: 3em;
    background: lighten(black, 20%);
    color: white;

    h1 {
	margin-top: 0;
    }
}

.feature {

    margin-top: 3em;
    position: relative;

    img {
	height: 200px;
	position: relative;
	top: 20px;
	vertical-align: middle;
    }
}


.header.main {
    background-image: url('../img/banner-bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    position: relative;

    padding: 200px;
    padding-left: 350px;
    padding-top: 100px;

    h1 {
	font-size: 550%;	
    }


    small {
	color: $gray-light;
	font-size: 160%;
    }

    .logo {
	height: 200px;
	position: absolute;
	left: 100px;
	top: 110px;
    }
}

.header.main.backslash {
    background-image: url('../../img/backslash-bg.jpg');

    small {
	color: darken($gray-lighter, 20%);
    }
}



#latest-news {
    position: absolute;
    top: 10%;
    right: 3em;
    color: $gray-lighter;
    opacity: 0.7;
    &:hover {
	opacity: 1.0;
	transition: opacity 0.2s;
    }
    transition: opacity 1s;
}

@media (max-width: 1000px) {
    #latest-news {
	display: none;
    }
}

@media (max-width: 800px) {
    .logo {
	display: none;
    }

    .header.main {
	padding: 5em;
    }
}


.featurette-container {
    padding: 5em;
    
    .col-sm-6 {
	position: relative;
	img,i {
	    height: 5em;
	    position: absolute;
	    top: 40px;
	    left: 1em;
	}

	padding: 20px;
	padding-left: 10em;
    }

}
 

.post-short {
    h3>a {
	text-decoration: none;
    }
}

.post article {
    margin-top: 2em;
}


